html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #171717;
  color: #f8f8ff;
  scroll-behavior: smooth;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
  outline: none !important;
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

a {
  color: inherit;
  text-decoration: none !important;
}

a:visited a:link,
a:active {
  text-decoration: none !important;
}

a:focus,
a:hover {
  text-decoration: underline !important;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
